<div name="syncBaby" ngxScrollSync="sync1" style="height:200px; width:100px; overflow:auto; white-space:nowrap; display:inline-block; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>



<div name="syncBaby" ngxScrollSync="sync1" class="second-div" style="height:200px; width:100px; overflow:auto; display:inline-block; white-space:nowrap; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>




<div name="syncBaby" ngxScrollSync="sync2" class="second-div" style="height:200px; width:100px; overflow:auto; display:inline-block; white-space:nowrap; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>



<div name="syncBaby" ngxScrollSync="sync2" class="second-div" style="height:200px; width:100px; overflow:auto; display:inline-block; white-space:nowrap; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>



<div name="syncBaby" ngxScrollSync="sync1" class="second-div" style="height:200px; width:100px; overflow:auto; display:inline-block; white-space:nowrap; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>



<div name="syncBaby" ngxScrollSync="sync2" class="second-div" style="height:200px; width:100px; overflow:auto; display:inline-block; white-space:nowrap; border:1px solid red;">
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
	<h3>qwe asd zxc asd qwe</h3>
</div>